{% extends '_base.html' %}
{% load static %}

{% block title %} - {{ user }}'s Lists{% endblock title %}

{% block content %}
<header class="masthead bg-primary text-white text-center pb-5">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{ user }}'s Lists</h1>
        <div><a class="btn btn-secondary mt-5" href="{% url 'list_new' %}">New List</a></div>
    </div>
</header>
<section class="page-section lists">
    {% for list_obj in lists %}
    <div class="container d-flex align-items-center flex-column mb-5">
        <h2 class="page-section-heading text-center text-secondary">
            {{ list_obj.title }}
        </h2>
        <p>
            Belongs to <strong>{{ list_obj.owner }}</strong>, has {{ list_obj.items.count }}
            item{{ list_obj.items.count|pluralize }}, and is
            <strong>{% if not list_obj.is_public %}not {% endif %}public</strong>.
        </p>
    </div>
    {% endfor %}
</section>
{% endblock content %}
